header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
}

header p {
    max-width: 400px;
    margin: 0 auto;
    color: grey;
    
}

.game-status {
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
    background-color: rgb(47, 174, 77);
}

.game-status h2 {
    font-size: 1.25rem;
    padding-bottom: 5px;
}
.game-status p {
    font-size: .90rem;
}

.coding-languages {
    width: 350px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-block: 30px;
}

.language_name {
    margin: 1px;
    padding: 5px;
    border-radius: 5px;
}

.word-to-guess {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin: 2px;
    background-color: #323232;
    border-bottom: 1px solid #F9F4DA;
}